{
    "name": "{{ table_name }}",
    "connector": "prometheus_remote_write_with_schema",
    "tableType": "source",
    "config": {
        "bind_address": "{{ bind_ip }}",
        "base_port": {{ base_port }},
        "parallelism": {{ parallelism }},
        "path": "{{ path }}"
    },
    "schema": {
        "format": {
            "json": {
                "confluentSchemaRegistry": false,
                "schemaId": null,
                "includeSchema": false,
                "debezium": false,
                "unstructured": false,
                "timestampFormat": "rfc3339"
            }
        },
        "badData": {
            "fail": {}
        },
        "framing": null,
        "structName": null,
        "fields": [
            {
                "fieldName": "labels",
                "fieldType": {
                    "type": {
                        "struct": {
                            "name": null,
                            "fields": [
                                {% for field in label_fields %}
                                {
                                    "fieldName": "{{ field.fieldName }}",
                                    "fieldType": {
                                        "type": {
                                            "primitive": "String"
                                        },
                                        "sqlName": "TEXT"
                                    },
                                    "nullable": false,
                                    "metadataKey": null
                                }{% if not loop.last %},{% endif %}
                                {% endfor %}
                            ]
                        }
                    },
                    "sqlName": null
                },
                "nullable": false,
                "metadataKey": null
            },
            {
                "fieldName": "name",
                "fieldType": {
                    "type": {
                        "primitive": "String"
                    },
                    "sqlName": "TEXT"
                },
                "nullable": false,
                "metadataKey": null
            },
            {
                "fieldName": "timestamp",
                "fieldType": {
                    "type": {
                        "primitive": "UnixMillis"
                    },
                    "sqlName": "TIMESTAMP"
                },
                "nullable": false,
                "metadataKey": null
            },
            {
                "fieldName": "value",
                "fieldType": {
                    "type": {
                        "primitive": "F64"
                    },
                    "sqlName": "DOUBLE"
                },
                "nullable": false,
                "metadataKey": null
            }
        ],
        "definition": {
            "json_schema": "{{ json_schema }}"
        },
        "inferred": null,
        "primaryKeys": []
    }
}
