services:
  controller:
    image: sketchdb-controller:latest
    container_name: {{ container_name }}
    volumes:
      - {{ input_config_path }}:/app/input/config.yaml:ro
      - {{ output_dir }}:/app/output
    command: [
      "--input_config", "/app/input/config.yaml",
      "--output_dir", "/app/output",
      "--prometheus_scrape_interval", "{{ prometheus_scrape_interval }}",
      "--streaming_engine", "{{ streaming_engine }}"{% if punting %},
      "--enable-punting"{% endif %}
    ]
    restart: no
